.ava {
    display: flex;
    margin-bottom: 50px;
}

.ava__container_img {
    width: 100px;
    height: 100px;
    margin-right: 50px;
}

.ava__img {
    width: 100%;
    border-radius: 50%;
}

.ava__info {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ava span {
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ava__user_info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ava__user_info div {
    margin-bottom: 5px;
}

.name {
    background: #0f1317;
    padding: 2px 8px;
    border-radius: 10px;
    color: #fff;
    width: max-content;
}

/* ------------ CONTACTS ------------------------- */
.contacts li {
    background-color: rgb(28, 218, 95);
    padding: 5px 8px;
    border-radius: 3px;
}
.contacts li:hover {
    background-color: rgb(114, 48, 48);
    transition: background-color .150s;
}

.contacts li:not(:last-child) {
    margin-bottom: 10px;
}
.contacts li:first-child {
    margin-top: 15px;
}

.contacts__link {
    display: inline-block;
    color: #fff;
    width: 100%;
    height: 100%;
}