.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
    padding: 0 10px 10px 0;
}

.item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.left {
    display: flex;
    align-items: center;
}
.right {
    margin-top: 20px;
    background-color: rgb(37 189 90);
    color: #fff;
    padding: 2px 8px;
    border-radius: 10px;
}

/* END POSTS */